$font-primary: 'Montserrat', sans-serif;
$color-primary: #343D4B;
$color-secondary: #222831;
$text-color-light: #ffffff;
$letter-spacing-primary: 3px;
$letter-spacing-secondary: 1.5px;
$letter-spacing-third: 1px;
$card-width-big: 400px;
$card-height-big: 600px;