@use 'variables';

.card-details-container {
    position: absolute;
    top: -600px;
    left: 0;
    width: 400px;
    height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 40px 0;
    background-color: variables.$color-secondary;
    border-radius: 25px;
    z-index: 999;

    .card-details-container__button {
        position: absolute;
        top: 35px;
        right: 35px;

        button {
            color: #fff;
            font-size: 45px;
            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .card-details-container__box {
        width: 100%;

        .card-details-container__box__info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            padding: 7px 0;
    
            p {
                font-size: 18px;
                letter-spacing: variables.$letter-spacing-third;
    
                &:nth-child(1) {
                    margin-left: 25px;
                }
    
                &:nth-child(2) {
                    margin-right: 25px;
                }
    
                span {
                    margin-left: 1px;
                    font-size: 14px;
                }
    
                i {
                    margin-right: 7px;
                }
            }
        }
    }

    .card-details-container__forecast-box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: variables.$color-primary;
        border-radius: 25px;
    }
}

.card-details-container__animation-start {
    top: 0;
    transition: 1s ease-in-out;
}

.card-details-container__animation-end {
    top: -600px;
    transition: 1s ease-in-out;
}