@use 'variables';

.card-details-container {
    position: absolute;
    top: -600px;
    left: 0;
    width: variables.$card-width-big;
    height: variables.$card-height-big;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 40px 0;
    background-color: variables.$color-secondary;
    border-radius: 25px;
    z-index: 999;

    .card-details-container__button {
        position: absolute;
        top: 35px;
        right: 35px;

        button {
            color: #fff;
            font-size: 45px;
            background-color: transparent;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .card-details-container__box {
        width: 100%;

        .card-details-container__box__info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            padding: 7px 0;
    
            p {
                font-size: 18px;
                letter-spacing: variables.$letter-spacing-third;
    
                &:nth-child(1) {
                    margin-left: 25px;
                }
    
                &:nth-child(2) {
                    margin-right: 25px;
                }
    
                span {
                    margin-left: 1px;
                    font-size: 14px;
                }
    
                i {
                    margin-right: 7px;
                }
            }
        }
    }

    .card-details-container__carousel {
        max-width: 360px;
        cursor: grab;
        overflow: hidden;
        background-color: variables.$color-primary;
        border-radius: 25px;

        .card-details-container__carousel__inner-carousel {
            display: flex;
        }
    }
}

.card-details-container__animation-start {
    top: 0;
    transition: 1s ease-in-out;
}

.card-details-container__animation-end {
    top: -600px;
    transition: 1s ease-in-out;
}

// Responsive styles
@media (max-width: 500px) {
    .card-details-container {
        width: variables.$card-width-small;
        height: variables.$card-height-small;
        padding-bottom: 20px;

        .card-details-container__button {
            top: 25px;
            right: 25px;
    
            button {
                font-size: 45px 0.8;
            }
        }

        .card-details-container__box {
            .card-details-container__box__info {
                padding: 4px 0;

                p {
                    font-size: 18px * 0.8;
        
                    span {
                        font-size: 14px * 0.8;
                    }
        
                    i {
                        margin-right: 7px * 0.8;
                    }
                }
            }
        }

        .card-details-container__carousel {
            max-width: 360px * 0.75;
        }
    }
}

@media (max-width: 320px) {
    .card-details-container {
        width: variables.$card-width-ultra-small;
        height: variables.$card-height-ultra-small;
        padding-bottom: 20px;

        .card-details-container__button {
            top: 25px;
            right: 25px;
    
            button {
                font-size: 45px 0.6;
            }
        }

        .card-details-container__box {
            .card-details-container__box__info {
                padding: 4px 0;

                p {
                    font-size: 18px * 0.6;
        
                    span {
                        font-size: 14px * 0.6;
                    }
        
                    i {
                        margin-right: 7px * 0.6;
                    }
                }
            }
        }

        .card-details-container__carousel {
            max-width: 360px * 0.5;
        }
    }
}