@use 'variables';

.card-details-container__carousel__inner-carousel_details {
    min-width: 120px;
    padding: 15px 0;
    text-align: center;

    div {
        font-size: 35px;
    }

    p {
        font-size: 18px;
        letter-spacing: variables.$letter-spacing-third;

        &:nth-child(2) {
            margin: 5px 0;
        }
    }
}

// Responsive styles
@media (max-width: 500px) {
    .card-details-container__carousel__inner-carousel_details {
        min-width: 120px * 0.75;
        padding: 10px 0;
    
        div {
            font-size: 35px * 0.8;
        }
    
        p {
            font-size: 18px * 0.8;
        }
    }
}

@media (max-width: 320px) {
    .card-details-container__carousel__inner-carousel_details {
        min-width: 120px * 0.75;
        padding: 5px 0;
    
        div {
            font-size: 35px * 0.6;
        }
    
        p {
            font-size: 18px * 0.6;
        }
    }
}