@use 'variables';

body {
    background-color: variables.$color-primary;
}

.dashboard-container {
    padding-bottom: 50px;
    
    .header {
        max-width: 1000px;
        margin: 50px auto 150px auto;
    }

    .dashboard-container__carousel {
        max-width: variables.$card-width-big * 3 + 200;
        margin: 0 auto;
        cursor: grab;
        overflow: hidden;

        .dashboard-container__carousel__inner-carousel {
            display: flex;
            margin: 0 25px;
        }
    }
}

// Responsive styles
@media (max-width: 1400px) {
    .dashboard-container {
        .dashboard-container__carousel {
            max-width: 950px;
        }
    }
}

@media (max-width: 949px) {
    .dashboard-container {
        .dashboard-container__carousel {
            max-width: 500px;
        }
    }
}
