@use 'variables';

body {
    background-color: variables.$color-primary;
}

.dashboard-container {
    .header {
        max-width: 1000px;
        margin: 50px auto 150px auto;
    }

    .carousel {
        max-width: 1400px;
        margin: 0 auto;
        cursor: grab;
        overflow: hidden;

        .inner-carousel {
            display: flex;
            gap: 50px;
            margin: 0 50px;
            padding-bottom: 50px;
        }
    }
}

// Responsive styles
@media (max-width: 1400px) {
    .dashboard-container {
        .carousel {
            max-width: 950px;
        }
    }
}

@media (max-width: 949px) {
    .dashboard-container {
        .carousel {
            max-width: 500px;
        }
    }
}
