@use 'variables';

body {
    background-color: variables.$color-primary;
}

.dashboard-container {
    padding-bottom: 50px;
    
    .header {
        max-width: 800px;
        margin: 50px auto 80px auto;
    }

    .dashboard-container__carousel {
        max-width: variables.$card-width-big * 3 + 200;
        margin: 0 auto;
        cursor: grab;
        overflow: hidden;

        .dashboard-container__carousel__inner-carousel {
            display: flex;

            .card-container {
                &:nth-child(1),
                &:nth-child(3) {
                    margin: 0 variables.$card-margin-carousel;
                }
            }
        }
    }
}

// Responsive styles
@media (max-width: 1400px) {
    .dashboard-container {
        .dashboard-container__carousel {
            // (card's width * number of cards seen) + (complete size of horizontal margins)
            max-width: variables.$card-width-big * 2 + variables.$card-margin-carousel * 3;
        }
    }
}

@media (max-width: 950px) {
    .dashboard-container {
        .dashboard-container__carousel {
            max-width: variables.$card-width-big + variables.$card-margin-carousel * 2;
        }
    }
}

@media (max-width: 500px) {
    .dashboard-container {
        .dashboard-container__carousel {
            max-width: variables.$card-width-small + variables.$card-margin-carousel * 2;
        }
    }
}

@media (max-width: 400px) {
    .dashboard-container {
        .dashboard-container__carousel {
            max-width: variables.$card-width-small + (variables.$card-margin-carousel * 0.25) * 2;

            .dashboard-container__carousel__inner-carousel {
                .card-container {
                    &:nth-child(1),
                    &:nth-child(3) {
                        margin: 0 (variables.$card-margin-carousel * 0.25);
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .dashboard-container {
        .dashboard-container__carousel {
            max-width: variables.$card-width-ultra-small + (variables.$card-margin-carousel * 0.25) * 2;
        }
    }
}

@media (max-height: 740px) {
    .dashboard-container {
        .header {
            margin: 50px auto 20px auto;
        }

    }
}
