@use 'variables';

.dropdown-menu {
    position: absolute;
    top: 45px;
    left: -12px;
    width: 250px;
    color: #292929;
    background: #fff;
    border-radius: 25px;
    letter-spacing: variables.$letter-spacing-third;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 15px;;
        height: 20px;
        width: 20px;
        background-color: #fff;
        transform: rotate(45deg);
        z-index: -1;
    }

    ul {
        list-style: none;

        li:first-child {
            border: none;
            border-radius: 25px 25px 0 0;
        }

        li:last-child {
            border-radius: 0 0 25px 25px;
        }

        li {
            padding: 10px 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.5);

            &:hover {
                cursor: pointer;
                color: #c96f6f;
            }
        }
    }
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.7s ease;
}

.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: 0.7s ease;
}